.login-button-container {
  clear:both;
  text-align:right;
  margin-right: 30px;

}

.login-button {
  display:inline;
}

.container {
  background-color: transparent;
}

.user-controls{
  background-color: rgba(0,255,255, 0.6);
  width: 100%;
  margin-top: -1.1em;
  padding: 5px 20px 10px 20px
}
