<div class="container">


  <div>
    <h2>
      Events in San Francisco, CA
      <button ui-sref="createEvent"> Create Event </button>
    </h2>

    <div class="login-button-container">

      <span ng-show="!vm.signedIn">
        Please sign in:
        <input type="text" ng-model="vm.tempUsername">
        <button class="login-button" ng-click="vm.onLoginClick()"> Login </button>
      </span>


      <span ng-show="vm.signedIn">
        Welcome, {{vm.username}}.
        <button class="login-button" ng-click="vm.onLogoutClick()"> Logout </button>
      </span>


    </div>


  </div>


  <div class="eventList" ng-repeat="event in vm.eventsList">

    <br>

    <event-box my-name="vm.myName" event-obj="event"></event-box>
  </div>

</div>
