<div ng-class="{'button-container-is-joined':vm.isJoined,
                'button-container-not-joined':!vm.isJoined}">

  <!--{{vm.eventObj}}-->
  <h1>Title: {{vm.eventObj.title}}</h1>
  <h3>When: {{vm.eventObj.date | date:format:shortDate}} – {{vm.eventObj.time | date: "HH:mm a"}}</h3>
  <h3>Where: {{vm.eventObj.location}}</h3>
  <h3>Who: {{vm.eventObj.totalAttendees}} supporters are attending this event.</h3>
  <h3>What: {{vm.eventObj.description}}</h3>

  <!--<div>Descriptiong</div>-->
  <!--<div> 133 people-->

  <div class="join-button-container">

    <!--'!vm.isJoined':'button-container-not-joined'-->
      <button ng-show="!vm.isJoined"
            class="join-button"
            ng-click="vm.onJoinClick()">
            Join</button>

      <div ng-show="vm.isJoined"> You have joined this event!
      <button class="join-button"
              ng-click="vm.onCancelClick()">
              Cancel</button>
    </div>
  </div>


</div>
</div>
