

<div ng-class="{'button-container-is-joined':vm.isJoined,
                'button-container-not-joined':!vm.isJoined}"
                class="inner-padding">

  <!--{{vm.eventObj}}-->
  <h2>Title: {{vm.eventObj.title}}</h2>
  <h4>When: {{vm.eventObj.date | date:format:shortDate}} – {{vm.eventObj.time | date: "HH:mm a"}}</h4>
  <h4>Where: {{vm.eventObj.location}}</h4>
  <h4>Who: {{vm.eventObj.totalAttendees}} supporters are attending this event.</h4>
  <h4>What: {{vm.eventObj.description}}</h4>

  <!--<div>Descriptiong</div>-->
  <!--<div> 133 people-->

  <div class="join-button-container">

    <!--'!vm.isJoined':'button-container-not-joined'-->
      <button ng-show="!vm.isJoined"
            class="join-button"
            ng-click="vm.onJoinClick()">
            Join</button>

      <div ng-show="vm.isJoined"> You have joined this event!
      <button class="join-button"
              ng-click="vm.onCancelClick()">
              Cancel</button>
    </div>
  </div>


</div>
</div>
